@import "tailwindcss";
/* body{
  background-color: rgb(46, 46, 46);
} */
/* :root{
  --primary-white: #fff;
  --button-purple: #615FFF;
  --button-purple-hover: #4F39F6;
  --text-gray:#45556C;
  --light-gray:#F1F5F9;
  --hover-marqee: #45556C;
} */
/* slate 800 */
/* slate 600 */

:root{
  --primary-white: #fff;
  --button-purple: #9810FA;
  --button-purple-hover: #8200DB;
  --text-gray:#45556C; 
  --light-gray:#F1F5F9;
  --hover-marqee: #45556C;
  --product-card: #F5F5F5; 
}

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

